{% extends 'base.html' %}
{% load tag %}
{% block body %}


{% load humanize %}

<div class="container">
    <h1 class="text-center">Post Detail page</h1>
    {% comment %} <h5>{{mgs}} <br></h5> {% endcomment %}
    <div class="row">
        <div class="fb-like" data-href="http://127.0.0.1:8000/postdetail/{{post.id}}/" data-width=""
            data-layout="box_count" data-action="like" data-size="" data-share="true"></div>


        <div class="col-md-6">

            <img src="{{post.image.url}}" alt="" style="width:300px; height:300px" class="rounded-circle">
        </div>

        <div class="col-md-6 mt-3">
            <div class="offset-md-2">
                Title = {{post.title}} <br>
                by: {{post.user.username}} at: {{post.created_date | naturaltime}} <br>

                {% if request.user == object.user %}
                <a href="{% url 'app:edit' pk=post.id %}">Edit</a> <br>
                <a href="{% url 'app:addphoto' id=post.id %}">Addphoto</a> <br>
                <a href="{% url 'app:delete' pk=post.id %}">Delete</a>
                {% endif %} <br>
                {% comment %} Subject = {% for subject in object.subject.all %}
                {{subject.name}},
                {% endfor %} <br> {% endcomment %}
                Subject = {{post.get_subjectlist}} <br>
                {% comment %} Class = {% for class in object.class_in.all %}
                {{class.name}},
                {% endfor %} <br> {% endcomment %}
                Class = {{post.get_classlist}} <br>
                Category = {{post.category}} <br>
                Medium = {{post.medium}} <br>
                Salary = {{post.salary}} <br>
                Email = {{post.email}} <br>
                Created_at = {{post.created_date}} <br>
                Available = {% if post.available %}
                Yes
                {% else %}
                NO
                {% endif %} <br>
                <p>Details : {{post.details}}</p>

            </div>
        </div>
    </div>
    <div>
        {% comment %} <div class="fb-comments" data-href="http://127.0.0.1:8000/postdetail/{{post.id}}/" data-width=""
            data-numposts="10"></div> {% endcomment %}
        <div>
            {{post.total_views}} Pepole are seen this post <br>
            {{post.total_likes}} Pepole are liked this post <br>


        </div>

    </div>
    <div>
        <form action="{% url 'app:likepost' id=object.id %}" method="POST">
            {% csrf_token %}
            {% if liked %}
            <button type="submit" class="btn btn-warning">Unlike</button>
            {% else %}
            <button type="submit" class="btn btn-primary">Like</button>
            {% endif %}
        </form>
    </div>

    <div>
        <form action="{% url 'app:addcomment' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="">Your comments</label>
                <input type="text" name="comment" placeholder="Enter your comments" class="form-control">
                <input type="hidden" name="postid" value="{{ object.id }}">
                <input type="hidden" name="parentid" value="">
            </div>
            <button type="submit" class="mt-2">Add comment</button>
        </form>
    </div>
    
    <div>
        {% for comment in comments %}
       
        <div class="row">
            <div class="col-md-1">
                <img src="{{ comment.user.userprofile.image.url }}" class="img-thumbnail rounded-circle" alt="">
            </div>
            <div class="col-md-11">
                <b>{{ comment.user.username }}</b> {{ comment.create_at |naturaltime }} <span class="badge badge-secondary"></span>
                <div>{{ comment.text }}</div>
            </div>
        </div>
        <div class="row">
            <form action="{% url 'app:addcomment' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="">Your reply</label>
                    <input type="text" name="comment" placeholder="Enter your comments" class="form-control">
                    <input type="hidden" name="postid" value="{{ object.id }}">
                    <input type="hidden" name="parentid" value="{{ comment.id }}">
                </div>
                <button type="submit" class="mt-2">Add reply</button>
            </form>
        </div>
        <div>
            {% for reply in DicReplyof|get_reply:comment.id %}
            <div class="row">
                <div class="col-md-1">
                    <img src="{{ reply.user.userprofile.image.url }}" class="img-thumbnail rounded-circle" alt="">
                </div>
                <div class="col-md-11">

                    <b>{{ reply.user.username }}</b> {{ reply.create_at | naturaltime }}
                    <div>{{ reply.text }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    

{% endblock body %}